.restaurant_pic{
    width: 100%;
}

.restaurant_name {
    width: 100%;
    text-align: center;
}

.test {
    width: 100%;
    height: 100%;
}

.repeat_weekly{
    align-self: center;
}

.pickup_options{
    align-content: center;
}

.fromTime{
    display: inline-block;
}

.toTime{
    display: inline-block;
}

.amOrPm{
    display: inline;
}

.pickup_options{
    width: 100%;
}

.quantity-cell{
    width:20%;
}