.restaurant_pic {
    width: 100%;
}

.restaurant_name {
    width: 100%;
    text-align: center;
}

.ctnt {
    width: 100%;
    height: 1000px;
}

.repeat_weekly {
    align-self: center;
}

.pickup_options {
    align-content: center;
}

.disp-inline {
	display: inline;
}

.pickup_options {
    width: 100%;
}

.quantity-cell {
    width:20%;
}

#tabcal {
	margin: 20px auto;
}

.fc-day {
	background-color: #ffffff;
}

.time-input {
	width: 25%;
	display: inline;
}

.center {
	text-align: center;
}

#time_warning {
	display:none;
}

#staticgraph {
	margin-top: 20px;
}